*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Montserrat', sans-serif;
	--ff-secondary: 'Lobster', cursive;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-grey: #E5E3C9;
	--clr-white: #ffffff;
	--clr-black: #000000;
	--clr-darkAccent: #789395;
	--clr-accent1: #B4CFB0;
	--clr-accent2: #94B49F;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.3em 0.3em 0.3em 0.3em rgba(0,0,0,0.3),
			0.25em 0.25em 0.75em rgba(0,0,0,.25),
			0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@font-face {
	font-family: garamond;
	src: url(sansation_light.woff);
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

html {
	scroll-behavior: smooth;
	font-family: var(--ff-primary);
}

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}
strong {
	font-weight: var(--fw-bold);
}

.intro-contact {
	display: flex;
	position: relative;
	line-height: 25%;
	background-color: var(--clr-darkAccent);
}

.phone-number {
	position: relative;
	top: 0px;
	left: 5%;
	color: var(--clr-black);
	font-weight: var(--fw-bold);
}

.social-list {
	position: absolute;
	top: 0px;
	right: 5%;
	list-style: none;
}

#insta-logo {
	position: relative;
}

#insta-logo img {
	position: absolute;
    top: -0.5rem;
    right: 0px;
    max-height: 1.5rem;
   
}

#insta-logo img:hover {
	transform: scale(1.2);
}

nav {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	background: var(--clr-accent2);
  	color: var(--clr-black);
  	padding: .25rem  1rem .25rem 10%;
  	display: flex;
  	z-index: 2;
}

nav a {
	position: relative;
	text-decoration: none;
}

nav a:visited {
	text-decoration: none;
	color: var(--clr-black);
}

nav a + a {
	margin-left: 1rem;
}

nav a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transition: transform 0.4s ease;
	transform-origin: bottom right;
	background-color: var(--clr-black);
}

nav a:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);

}

#company-logo {
	max-height: 7rem;
	margin: -1rem auto -2rem;
}

.nav-button {
	font-weight: var(--fw-bold);
}

.nav-button:hover {
	transform: scale(1.2);
}

.nav-list {
	list-style: none;
	column-gap: 5%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	margin-left: 10%;
	font-size: var(--fs-body);
}

@media (max-width: 750px) {

	nav {
		padding-left: 0%;
	}

	.nav-list {
		position: relative;
		right: 0;
		margin-left: 0;
	}
}

.intro {
	background-image: url(../photos/introImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 7rem 0;
	color: var(--clr-black);
	text-align: right;
}

.intro-heading strong {
	display: block;
}

.intro-heading,
.intro-statement {
	margin-left: 55%;
	margin-right: 1rem;
	text-align: center;
}

.intro-statement{
	margin-bottom: 5rem;
}

.intro-appointment-button {
	margin-right: 15%;
	border: solid;
	padding: 1rem;
	border-color: var(--clr-black);
	color: var(--clr-black);
	width: 100%;
}

.intro-appointment-button:hover{
	transform: scale(1.2);
}

.benefits {
	background-image: url(../photos/benefits.jpg);
	background-size: cover;
	position: relative;
	color: var(--clr-black);
	text-align: center;
	padding: 10% 15%;
	box-shadow: 0 3000px rgba(255, 255, 255, 0.6) inset;
}

.benefits-button-statement {
	margin-top: 4rem;
}

.benefits-button {
	display: inline-block;
	border-radius: 40%;
	padding: 1rem;
	margin-top: 2rem;
	background: var(--clr-white);
	color: var(--clr-black);
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
	border: solid;
	border-color: var(--clr-darkAccent);
}

.benefits-button:hover {
	transform: scale(1.2);
}

.home-footer {
	background-image: url(../photos/footer.jpg);
	box-shadow: 0 3000px rgba(255, 255, 255, 0.9) inset;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	position: relative;
  	padding: 5%;
}

.email-container {
	border: solid 3px var(--clr-darkAccent);
	position: relative;
	background-color: var(--clr-white);
	display: flex;
	flex-direction: column;
	padding: 5%;
	width: 80%;
}

.email-container h1 {
	align-self: center;
}

.underline {
	border-bottom: solid 2px var(--clr-black);
	margin: 1rem auto 3rem;
	width: 10%;
}

.name {
	float: left;
	width: 45%;
}

.telephone {
  width: 45%;
  float: right;
}

.email,
.subject {
	width: 100%;
}

textarea {
	line-height: 150%;
	resize: none;
  	width: 100%;
}

#name-input,
#email-input,
#phone-input,
#subject-input,
#message-input{
  	border: none;
	padding: 1rem 0;
	background-color: transparent;
	outline: none;
	border-bottom: solid;
	border-color: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.submit {
	width: 100%;
	display: flex;
}
#form-button {
	border: solid;
	padding: 1rem 1rem;
	background-color: transparent;
	outline: none;
	border-color: rgba(0, 0, 0, 0.4);
	width: 20%%;
	margin: 1rem auto 0;
}

#form-button:hover {
	transform: scale(1.1);
	background-color: var(--clr-darkAccent);
}

.form-socials {
	display: inline-flex;
	position: relative;
	height: 1rem;
	width: 100%;
}

.form-phone-number {
	position: absolute;
	left: 10%;
}

.form-social-list {
	list-style: none;
	position: absolute;
    right: 10%;
}

#form-insta-logo img {
    max-height: 1.5rem;
}

#form-insta-logo img:hover {
	transform: scale(1.2);
}

















/*servicesPage.html*/

.services-section {
	background: url(../photos/subPage.jpg) repeat fixed;
	background-size: cover;
	background-position: 50% 70%;
	padding-top: 3rem;
}

.services-intro-heading {
	font-weight: var(--fw-reg);
	padding: 5rem auto;
	text-align: center;
}

.services-intro-heading strong {
	display: block;
}

.services-intro-statement {
	padding: 1rem 15% 5rem;
	text-align: center;
}

.services-container {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.all-services {
	padding: 2rem 7rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 5rem 10rem;
}

.service {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: var(--bs);
	color: var(--clr-white);
}

.service:hover {
	transform: scale(1.5);
}

.services-contact-button-title {
	padding: 1rem 20%;
	
}

.services-contact-button {
	width: 10rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	border: solid;
	border-color: var(--clr-black);
	padding: 1rem 1rem;
	background-color: var(--clr-accent1);
	outline: none;
	color: var(--clr-black);
}

.services-contact-button:hover {
	transform: scale(1.1);
}

.services-footer {
	background-image: url(../photos/footer.jpg);
	box-shadow: 0 3000px rgba(255, 255, 255, 0.9) inset;
	background-size: cover;
	display: flex;
	flex-direction: column;
  	padding: 1rem;
  	position: relative;
  	width: 100%;

}

.foot-title,
.footer-address,
.footer-city,{
	margin-bottom: 0;
}

.footer-contact {
	padding-bottom: 1rem;
}

.footer-phone-number {
	color: var(--clr-black);
	font-weight: var(--fw-bold);
}

.footer-social-list {
	list-style: none;
}

.footer-nav {
	position: absolute;
	right: 3%;
	top: 0;
	outline: none;
	color: var(--clr-black);
}

.footer-nav-list {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.footer-nav-button {
	display: block;
	text-align: center;
	margin: 0.5rem auto;
}

.footer-nav-button:hover {
	transform: scale(1.1);
}

.footer-nav-button a {
	color: var(--clr-black);
}

