*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Arima Madurai', cursive;
	--ff-secondary: 'Lobster', cursive;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-grey: #E5E3C9;
	--clr-white: #ffffff;
	--clr-black: #000000;
	--clr-darkAccent: #789395;
	--clr-accent1: #B4CFB0;
	--clr-accent2: #94B49F;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.3em 0.3em 0.3em 0.3em rgba(0,0,0,0.3),
			0.25em 0.25em 0.75em rgba(0,0,0,.25),
			0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@font-face {
	font-family: 'Arima Madurai', cursive;
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

html {
	scroll-behavior: smooth;
	font-family: var(--ff-primary);
}

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}
strong {
	font-weight: var(--fw-bold);
}



























/* NAVIGATION BAR */

.intro-contact {
	display: flex;
	position: relative;
	line-height: 25%;
	background-color: var(--clr-darkAccent);
}

.phone-number {
	position: relative;
	top: 0px;
	left: 5%;
	color: var(--clr-black);
}

.social-list {
	position: absolute;
	top: 0px;
	right: 5%;
	list-style: none;
}

#insta-logo {
	position: relative;
}

#insta-logo img {
	position: absolute;
    top: -0.5rem;
    right: 0px;
    max-height: 1.5rem;
   
}

#insta-logo img:hover {
	transform: scale(1.2);
}

nav {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	background: var(--clr-accent2);
  	color: var(--clr-black);
  	padding: .25rem  1rem .25rem 10%;
  	display: flex;
  	z-index: 2;
}

nav a {
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	color: var(--clr-black);
}

nav a:visited {
	text-decoration: none;
	color: var(--clr-black);
}

nav a + a {
	margin-left: 1rem;
}

nav a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transition: transform 0.4s ease;
	transform-origin: bottom right;
	background-color: var(--clr-black);
}

nav a:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);

}

#company-logo {
	max-height: 4rem;
}

.hamburger-menu {
	width: 100%;
}

#menu-toggle {
	display: none;
}

.nav-button:hover {
	transform: scale(1.2);
}

.nav-list {
	list-style: none;
	flex-grow: 1;
	display: flex;
	column-gap: 5%;
	padding: 0 5% 0 10%;
	font-size: var(--fs-body);
	justify-content: space-around;
}

@media (max-width: 750px) {

	nav {
		padding-left: 0%;
	}

	.nav-list {
		position: relative;
		right: 0;
		margin-left: 0;
	}
}

.menu__item{
	justify-content: space-around;
}

@media (max-width: 650px) {

	#menu-toggle {
	  opacity: 0;
	}

	#menu-toggle:checked + .menu__btn > span {
	  transform: rotate(45deg);
	}

	#menu-toggle:checked + .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0deg);
	}

	#menu-toggle:checked + .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}

	#menu-toggle:checked ~ .menu__box {
	  left: 50% !important;
	}

	.menu__btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 3;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #616161;
	  transition-duration: .35s;
	}

	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}

	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	.menu__box {
	  display: block;
	  position: fixed;
	  top: 0;
	  left: 100%;
	  width: 300px;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  background-color: #ECEFF1;
	  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
	  transition-duration: .35s;
	}

	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #333;
	  text-decoration: none;
	  transition-duration: .25s;
	}

	.menu__item:hover {
	  background-color: #CFD8DC;
	}	
}

























/* HOME PAGE */

.intro {
	background-image: url(../photos/introImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 7rem 1rem;
	color: var(--clr-black);
	transform:scale(1.0);
}

.intro-items {
	width: 100%;
	padding-left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 650px) {

	.intro-items {
		padding: 0 15%;
	}
}

.intro-heading {
	font-weight: var(--fw-reg);
}

.intro-heading strong {
	display: block;
	font-weight: var(--fw-bold);
}

.intro-heading,
.intro-statement{
	text-align: center;
	margin-bottom: 1rem;
}

.intro-appointment-button {
	width: fit-content;
	border: solid;
	padding: 1rem;
	border-color: var(--clr-black);
	color: var(--clr-black);
	border-radius: 15px;
	box-shadow: var(--bs);
	display: inline-block;
	transition: transform 300ms ease-in-out;
}

.intro-appointment-button:hover {
	transform: scale(1.2);
	background: var(--clr-accent2);
}

.benefits {
	background-image: url(../photos/benefits.jpg);
	background-size: cover;
	position: relative;
	color: var(--clr-black);
	text-align: center;
	padding: 10% 15%;
	box-shadow: 0 3000px rgba(255, 255, 255, 0.6) inset;
}

.benefits-button-statement {
	margin-top: 4rem;
}

.benefits-button {
	display: inline-block;
	border-radius: 40%;
	padding: 1rem;
	margin-top: 2rem;
	background: var(--clr-white);
	color: var(--clr-black);
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 300ms ease-in-out;
	border: solid;
	border-color: var(--clr-darkAccent);
	box-shadow: var(--bs);
}

.benefits-button:hover {
	transform: scale(1.2);
	background-color: var(--clr-accent2);
	border-color: var(--clr-black);
}

.home-footer {
	background-image: url(../photos/footer.jpg);
	box-shadow: 0 3000px rgba(220, 220, 220, 0.9) inset;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	position: relative;
  	padding: 5%;
}

.email-container {
	border: solid 3px var(--clr-darkAccent);
	position: relative;
	background-color: var(--clr-white);
	display: flex;
	flex-direction: column;
	padding: 5%;
	width: 80%;
}

.email-container h1 {
	align-self: center;
}

@media (max-width: 550px){
	.email-container h1 {
		transform: scale(0.8);
		margin: 0;
		padding: 0;
	}

	.email-container {
		padding: 5% 2%;
	}
}

.underline {
	border-bottom: solid 2px var(--clr-black);
	margin: 1rem auto 3rem;
	width: 10%;
}

.name {
	float: left;
	width: 45%;
}

.telephone {
  width: 45%;
  float: right;
}

.email,
.subject {
	width: 100%;
}

textarea {
	line-height: 150%;
	resize: none;
  	width: 100%;
}

#name-input,
#email-input,
#phone-input,
#subject-input,
#message-input{
  	border: none;
	padding: 1rem 0;
	background-color: transparent;
	outline: none;
	border-bottom: solid;
	border-color: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.submit {
	width: 100%;
	display: flex;
}
#form-button {
	border: solid;
	padding: 1rem 1rem;
	background-color: transparent;
	outline: none;
	border-color: rgba(0, 0, 0, 0.4);
	width: 20%%;
	margin: 1rem auto 0;
	border-radius: 15px;
	transition: transform 200ms ease-in-out;
}

#form-button:hover {
	transform: scale(1.1);
	background-color: var(--clr-darkAccent);
}

.form-socials {
	display: inline-flex;
	position: relative;
	height: 1rem;
	width: 100%;
}

.form-phone-number {
	position: absolute;
	left: 10%;
	color: var(--clr-black);
	font-weight: var(--fw-bold);
}

.form-social-list {
	list-style: none;
	position: absolute;
    right: 10%;
}

#form-insta-logo img {
    max-height: 1.5rem;
}

#form-insta-logo img:hover {
	transform: scale(1.2);
}




























/* MAIN SETUP FOR ALL SUBPAGES (NOT HOME PAGE) */

.body-section {
	background: url(../photos/subPage.jpg) repeat fixed;
	background-size: cover;
	background-position: 50% 60%;
	padding-top: 3rem;
}

.body-intro-heading {
	font-weight: var(--fw-reg);
	padding: 5rem auto;
	text-align: center;
}

.body-intro-heading strong {
	display: block;
}

.body-intro-statement {
	padding: 1rem 15% 5rem;
	text-align: center;
}

.body-content {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}









/* FOOTER FOR ALL SUBPAGES (NOT HOME PAGE) */

.subpage-footer {
	background-image: url(../photos/footer.jpg);
	box-shadow: 0 3000px rgba(255, 255, 255, 0.9) inset;
	background-size: cover;
	display: flex;
	flex-direction: column;
  	padding: 1rem;
  	position: relative;
  	width: 100%;
  	column-gap: 10rem;
  	flex-wrap: nowrap;
  	justify-content: space-between;
}

.footer-title {
	margin-top: 1rem;
}

.footer-title,
.footer-address,
.footer-city{
	margin: 0 0 1.5rem 0;

}

.footer-contact {
	padding-bottom: 1rem;
}

.footer-phone-number {
	color: var(--clr-black);
	margin: 0;
	padding-bottom: 1rem;
}

.footer-social-list {
	list-style: none;
	margin: 0 inherit;
	padding: 0 inherit;
}

.back-to-top-button {
	position: absolute;
	bottom: 2rem;
	width: fit-content;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	color: var(--clr-black);
}

.back-to-top-button:hover {
	transform: scale(1.1);
}

.back-to-top-logo {
	max-width: 2rem;
	border-radius: 50%;
	margin: 0;
}

.back-to-top-phrase {
	margin: 0;
	color: var(--clr-black);
	text-decoration: none;
}

.footer-nav {
	position: absolute;
	right: 3%;
	top: 0;
	outline: none;
	color: var(--clr-black);
}

.footer-nav-list {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.footer-nav-button {
	display: block;
	text-align: center;
	margin: 0.5rem auto;
}

.footer-nav-button:hover {
	transform: scale(1.1);
}

.footer-nav-button a {
	color: var(--clr-black);
}

































/*servicesPage.html*/

.all-services {
	padding: 2rem 6rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 5rem 8rem;
	justify-content: center;
}

@media (max-width: 570px) {
	.all-services {
		padding: 1rem 0;
	}
}

.service {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: var(--bs);
	color: var(--clr-white);
	min-width: 20rem;
	border-radius: 15px;
	padding-top: 1rem;
}

.service:hover {
	transform: scale(1.4);
}

.services-contact-button-title {
	padding: 3rem 20%;
	font-weight: var(--fw-reg);
	
}

.services-contact-button {
	width: 10rem;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom: 2rem;
	border: solid;
	border-color: var(--clr-black);
	padding: 1rem 1rem;
	background-color: var(--clr-accent1);
	outline: none;
	color: var(--clr-black);
	box-shadow: var(--bs);
}

.services-contact-button:hover {
	transform: scale(1.15);
}





























/* happyCustomersPage.html */
.customers-intro-heading {
	padding-top: 4rem;
}

.customer-into-statement {
	padding-bottom: 4rem;
}

.all-happy-customers {
	padding: 2rem 6rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 20rem));
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 5rem 8rem;
	justify-content: center;
}

.image-container,
.testimonial-container {
	box-shadow: var(--bs);
	width: 20rem;
	height: 20rem;
	border-radius: 15px;
	text-align: center;
}

.customer-image,
.testimonial {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.testimonial {
	padding: 20% 5%;
}

.happy-customers-contact-button-title {
	padding: 3rem 20%;
	font-weight: var(--fw-reg);
}

.happy-customers-contact-button {
	width: 10rem;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom: 2rem;
	border: solid;
	border-color: var(--clr-black);
	padding: 1rem 1rem;
	background-color: var(--clr-accent1);
	outline: none;
	color: var(--clr-black);
	box-shadow: var(--bs);
}

.happy-customers-contact-button:hover {
	transform: scale(1.15);
}

























/* aboutPage.html */
.about-intro-heading {
	padding-top: 4rem;
}

.about-intro-statement {
	padding-bottom: 4rem;
}

.about-container {
	padding: 3rem 10%;
}

.about-image {
	float: left;
	height: 20rem;
	width: 20rem;
	margin: 0 5rem 5rem 0;
	box-shadow: var(--bs);
}

.about-container h2 {
	white-space: nowrap;
}

@media (max-width: 800px) {
	.about-image {
		margin: 0 2rem 2rem 0;
	}
}

@media (max-width: 650px) {

	.about-container {
		display: flex;
		flex-direction: column;
	}

	.about-image {
		float: unset;
		display: block;
		margin: 0 auto 2rem;
	}
}

.about-contact-button-title {
	padding: 3rem 20%;
	font-weight: var(--fw-reg);
	
}

.about-contact-button {
	width: 10rem;
	border-radius: 15px;
	margin: 0 auto;
	margin-bottom: 2rem;
	border: solid;
	border-color: var(--clr-black);
	padding: 1rem 1rem;
	background-color: var(--clr-accent1);
	outline: none;
	color: var(--clr-black);
	box-shadow: var(--bs);
}

.about-contact-button:hover {
	transform: scale(1.15);
}




















/* goalsPage.html */

.goals-container {
	padding: 3rem 10%;
}


